Repository somenugget/aprendi: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {staged_files}

eslint:
  tags: frontend style
  run: npm run lintFix {staged_files}

Tailwind 4 migration
  app/components/test_steps/answer_label_component.rb
  app/components/test_steps/pick_term_component.html.erb
  app/components/ui/button_component.rb
  app/views/application/_navbar.html.erb
  app/views/dashboard/_words.html.erb
Due: rubocop

Upgrade tailwind
  app/frontend/entrypoints/tailwind.css
  package-lock.json
  package.json
  tailwind.config.js
Due: eslint

Add name
  package-lock.json
  package.json
Due: none

Update title in login page
  app/views/devise/sessions/new.html.erb
  config/locales/devise.en.yml
Due: none

Unbind study sets and folders
  Gemfile
  Gemfile.lock
  db/migrate/20250628150212_unbind_study_sets_and_folders.rb
  db/schema.rb
Due: rubocop

Rubocop
  .github/workflows/ci.yml
  .rubocop.yml
  app/models/push_notification.rb
  app/models/term.rb
  app/models/term_example.rb
  app/services/generate_study_set_terms.rb
  app/services/generate_term_examples.rb
Due: rubocop

Don't require rails helper
  .rspec
  spec/components/study_sets/top_bar_component_spec.rb
  spec/components/term_progress/dashboard_row_component_spec.rb
  spec/components/test_steps/answer_label_component_spec.rb
  spec/components/test_steps/examples_component_spec.rb
  spec/components/test_steps/letters_component_spec.rb
  spec/components/test_steps/next_step_component_spec.rb
  spec/components/test_steps/pick_definition_component_spec.rb
  spec/components/test_steps/pick_term_component_spec.rb
  spec/components/test_steps/write_term_component_spec.rb
  spec/components/tests/result_component_spec.rb
  spec/components/ui/button_component_spec.rb
  spec/components/ui/card_component_spec.rb
  spec/components/ui/form/input_component_spec.rb
  spec/mailers/reminder_mailer_spec.rb
  spec/models/account_deletion_request_spec.rb
  spec/models/folder_spec.rb
  spec/models/push_subscription_spec.rb
  spec/models/streak_log_spec.rb
  spec/models/streak_spec.rb
  spec/models/study_config_spec.rb
  spec/models/study_set_spec.rb
  spec/models/term_example_spec.rb
  spec/models/term_example_term_spec.rb
  spec/models/term_progress_spec.rb
  spec/models/term_spec.rb
  spec/models/test_spec.rb
  spec/models/test_step_spec.rb
  spec/models/user_auth_token_spec.rb
  spec/models/user_settings_spec.rb
  spec/requests/account_deletion_requests_spec.rb
  spec/requests/push_subscriptions_spec.rb
  spec/requests/settings_spec.rb
  spec/system_helper.rb
Due: rubocop

Add csv
  Gemfile
  Gemfile.lock
  app/services/generate_term_examples.rb
Due: rubocop

Add libyaml-dev
  Dockerfile
Due: none

Add dark mode
  app/components/ui/button_component.rb
  app/components/ui/card_component.rb
  app/frontend/entrypoints/tailwind.css
  app/views/application/_navbar.html.erb
  app/views/dashboard/index_no_progress.html.erb
  app/views/devise/sessions/new.html.erb
  app/views/landing/_features.html.erb
  app/views/landing/_navbar.html.erb
  app/views/landing/_user.html.erb
  app/views/layouts/landing.html.erb
Due: rubocop

Dark mode switch for landing
  Gemfile
  Gemfile.lock
  app/components/application_component.rb
  app/components/dark_mode_toggle_component.html.erb
  app/components/dark_mode_toggle_component.rb
  app/controllers/home_controller.rb
  app/frontend/controllers/dark_mode_toggle_controller.js
  app/frontend/entrypoints/landing.js
  app/frontend/entrypoints/tailwind.css
  app/views/common/_dark_mode.html.erb
  app/views/landing/_user.html.erb
  app/views/layouts/landing.html.erb
  config/initializers/heroicons.rb
  package-lock.json
  spec/components/dark_mode_toggle_component_spec.rb
Due: rubocop, eslint

Update gems
  Gemfile
  Gemfile.lock
Due: none

Update lefthook
  package-lock.json
  package.json
Due: none

Update terms generation
  .gitignore
  app/services/generate_term_examples.rb
  app/views/application/_navbar.html.erb
  app/views/dashboard/index_no_progress.html.erb
Due: rubocop

Update words normalization
  app/controllers/terms_controller.rb
  app/models/term.rb
  app/services/generate_term_examples.rb
  app/services/normalize_word.rb
Due: rubocop

Replace pin to star in study sets
  app/components/study_sets/card_component.html.erb
  app/components/study_sets/top_bar_component.html.erb
  app/controllers/dashboard_controller.rb
  app/views/dashboard/_study_sets.html.erb
  app/views/dashboard/index_no_progress.html.erb
  config/initializers/heroicons.rb
Due: rubocop

Update set editing
  app/components/study_sets/card_component.html.erb
  app/components/study_sets/top_bar_component.html.erb
  app/components/ui/button_component.rb
  app/components/ui/card_component.rb
  app/views/terms/_term_form.html.erb
Due: rubocop

Fix tests
  spec/system/tests/test_spec.rb
Due: rubocop

Fix streak
  app/components/streak_component.html.erb
  app/components/streak_component.rb
  app/controllers/application_controller.rb
  app/controllers/terms_controller.rb
  app/jobs/generate_term_examples_job.rb
  app/models/streak.rb
  app/services/generate_study_set_terms.rb
  app/services/users/maybe_reset_streak.rb
  app/services/users/update_streak.rb
Due: rubocop

Update langing
  app/frontend/entrypoints/tailwind.css
  app/views/landing/_features.html.erb
  app/views/landing/_hero.html.erb
  app/views/landing/_navbar.html.erb
  app/views/landing/_user.html.erb
  app/views/layouts/landing.html.erb
  package-lock.json
Due: none

Update rails
  .gitignore
  Gemfile
  Gemfile.lock
  app/views/common/_footer.html.erb
  spec/rails_helper.rb
Due: rubocop

Design update
  app/components/term_progress/dashboard_row_component.rb
  app/components/ui/card_component.rb
  app/views/dashboard/_study_sets.html.erb
  app/views/dashboard/_words.html.erb
Due: rubocop

Change `primary_region`
  fly.toml
Due: none

Don't use `authenticate_with_token`
  app/controllers/application_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  config/initializers/devise.rb
Due: rubocop

Fix skip before action
  app/controllers/account_deletion_requests_controller.rb
Due: rubocop

TG bot start
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/telegram_webhooks_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users/sessions_controller.rb
  app/models/test.rb
  app/services/tg/callbacks/answer_pick_term.rb
  app/services/tg/callbacks/base.rb
  app/services/tg/callbacks/new_terms.rb
  app/services/tg/callbacks/test_in_progress.rb
  app/services/tg/commands/base.rb
  app/services/tg/commands/start.rb
  app/services/tg/dispatcher.rb
  app/services/tg/step_helpers.rb
  app/services/tg/telegram_bot.rb
  config/environments/development.rb
  config/initializers/inflections.rb
  config/routes.rb
  db/migrate/20251116224303_add_chat_id_and_telegram_user_id_to_users.rb
  db/schema.rb
Due: rubocop

Add `PickDefinition` step
  app/services/tg/callbacks/pick_definition.rb
  app/services/tg/callbacks/pick_term.rb
  app/services/tg/commands/base.rb
  app/services/tg/dispatcher.rb
  app/services/tg/step_helpers.rb
Due: rubocop

Add `Letters` step
  app/components/test_steps/letters_component.html.erb
  app/components/test_steps/letters_component.rb
  app/controllers/telegram_webhooks_controller.rb
  app/models/term.rb
  app/models/test.rb
  app/models/test_step.rb
  app/services/tg/callbacks/base.rb
  app/services/tg/callbacks/letters.rb
  app/services/tg/callbacks/pick_definition.rb
  app/services/tg/callbacks/pick_term.rb
  app/services/tg/step_helpers.rb
Due: rubocop

Rubocop
  app/services/tg/commands/default_text.rb
  app/services/tg/step_helpers.rb
  config/routes.rb
Due: rubocop

Setup Solid cache
  Gemfile
  Gemfile.lock
  config/application.rb
  config/cache.yml
  config/environments/development.rb
  config/environments/production.rb
  db/migrate/20251125135434_create_solid_cache_entries.rb
  db/schema.rb
Due: rubocop

Update gems
  Gemfile.lock
  package-lock.json
Due: none

Turbo update
  package-lock.json
  package.json
Due: none

Upgrade Rails
  Gemfile
  Gemfile.lock
  app/controllers/folders_controller.rb
  app/controllers/push_subscriptions_controller.rb
  app/controllers/settings_controller.rb
  app/controllers/study_configs_controller.rb
  app/controllers/study_sets_controller.rb
  app/controllers/term_progresses_controller.rb
  app/controllers/terms_controller.rb
  app/controllers/test_steps_controller.rb
  app/controllers/tests_controller.rb
  bin/bundler-audit
  bin/ci
  bin/rubocop
  config/application.rb
  config/bundler-audit.yml
  config/ci.rb
  db/schema.rb
  package-lock.json
  package.json
  public/400.html
  public/404.html
  public/406-unsupported-browser.html
  public/422.html
  public/500.html
  public/icon.png
Due: rubocop

Updated error pages
  public/404.html
  public/422.html
  public/500.html
Due: none

Reenable folders. Add empty states.
  app/components/ui/empty_state_component.html.erb
  app/components/ui/empty_state_component.rb
  app/controllers/settings_controller.rb
  app/controllers/study_sets_controller.rb
  app/models/study_set.rb
  app/views/application/_navbar.html.erb
  app/views/folders/_form.html.erb
  app/views/folders/index.html.erb
  app/views/folders/show.html.erb
  app/views/settings/show.html.erb
  app/views/study_sets/_form.html.erb
  app/views/study_sets/index.html.erb
  app/views/study_sets/new.html.erb
  config/locales/en.yml
  db/migrate/20260328120000_add_enable_folders_to_user_settings.rb
  db/schema.rb
Due: rubocop

Fix flaky test
  CLAUDE.md
  spec/system/tests/test_spec.rb
Due: rubocop

Try to fix flaky test
  spec/system/tests/test_spec.rb
Due: rubocop

Dashboard empty state
  app/views/dashboard/_study_sets.html.erb
  app/views/dashboard/_words.html.erb
  app/views/dashboard/index_no_progress.html.erb
Due: none

Use settings: improve mobile view
  CLAUDE.md
  app/views/settings/show.html.erb
  config/locales/en.yml
Due: none

Store term audios
  AGENTS.md
  app/components/test_steps/answer_label_component.html.erb
  app/components/test_steps/answer_label_component.rb
  app/components/test_steps/pick_definition_component.html.erb
  app/components/test_steps/pick_term_component.html.erb
  app/components/ui/audio_button_component.html.erb
  app/components/ui/audio_button_component.rb
  app/controllers/term_audios_controller.rb
  app/controllers/terms_controller.rb
  app/controllers/test_steps_controller.rb
  app/frontend/controllers/audio_player_controller.js
  app/jobs/generate_term_audio_job.rb
  app/models/term.rb
  app/services/generate_term_audio.rb
  config/routes.rb
  db/migrate/20260704120000_create_active_storage_tables.rb
  db/schema.rb
  spec/components/test_steps/answer_label_component_spec.rb
  spec/components/test_steps/pick_definition_component_spec.rb
  spec/components/test_steps/pick_term_component_spec.rb
  spec/factories/test_steps.rb
  spec/factories/tests.rb
  spec/jobs/generate_term_audio_job_spec.rb
  spec/models/term_spec.rb
  spec/rails_helper.rb
  spec/requests/term_audios_spec.rb
  spec/requests/terms_spec.rb
  spec/services/generate_term_audio_spec.rb
Due: rubocop, eslint

Path conditions:
  rubocop: any of: *.rb, but not: (^|/)(application|routes)\.rb$
  eslint: any of: *.js, but not: (^|/)(application)\.js
