Repository somenugget/aprendi: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {staged_files}

eslint:
  tags: frontend style
  run: npm run lintFix {staged_files}

Model update
  app/services/generate_term_audio.rb
  spec/services/generate_term_audio_spec.rb
Due: rubocop

Add S3 config
  config/environments/production.rb
  config/storage.yml
Due: rubocop

Update dependencies
  Gemfile
  Gemfile.lock
  app/components/ui/audio_button_component.html.erb
  config/storage.yml
  package-lock.json
  spec/services/generate_term_audio_spec.rb
Due: rubocop

PR feedback
  app/components/test_steps/answer_label_component.html.erb
  app/controllers/terms_controller.rb
  app/jobs/generate_term_audio_job.rb
  app/jobs/generate_term_examples_job.rb
  db/migrate/20260704120000_create_active_storage_tables.rb
Due: rubocop

Add `regenerate` option
  app/controllers/terms_controller.rb
  app/jobs/generate_term_audio_job.rb
  app/services/generate_term_audio.rb
  spec/jobs/generate_term_audio_job_spec.rb
  spec/requests/terms_spec.rb
  spec/services/generate_term_audio_spec.rb
Due: rubocop

Add AWS S3
  Gemfile
  Gemfile.lock
Due: none

Rubocop
  Gemfile
Due: none

Remove `require: false`
  Gemfile
Due: none

Add test example audios
  AGENTS.md
  CLAUDE.md
  app/components/test_steps/answer_label_component.html.erb
  app/components/test_steps/examples_component.html.erb
  app/components/test_steps/pick_definition_component.html.erb
  app/components/ui/audio_button_component.html.erb
  app/components/ui/audio_button_component.rb
  app/controllers/term_example_audios_controller.rb
  app/frontend/controllers/audio_player_controller.js
  app/jobs/application_job.rb
  app/jobs/generate_term_audio_job.rb
  app/jobs/generate_term_example_audio_job.rb
  app/jobs/generate_term_examples_job.rb
  app/models/term_example.rb
  app/services/generate_term_audio.rb
  app/services/generate_term_example_audio.rb
  app/services/generate_term_examples.rb
  app/services/generate_text_to_speech_audio.rb
  app/services/imports/import_json.rb
  config/routes.rb
  spec/components/test_steps/examples_component_spec.rb
  spec/jobs/generate_term_example_audio_job_spec.rb
  spec/requests/term_example_audios_spec.rb
  spec/services/generate_term_audio_spec.rb
  spec/services/generate_term_example_audio_spec.rb
Due: rubocop, eslint

Regenerate examples
  app/controllers/terms_controller.rb
  app/jobs/generate_term_examples_job.rb
  app/services/generate_term_examples.rb
Due: rubocop

Focus example after the success
  .rubocop.yml
  app/components/test_steps/examples_component.html.erb
  app/frontend/controllers/autofocus_controller.js
  app/frontend/controllers/letters_controller.js
  spec/components/test_steps/examples_component_spec.rb
Due: rubocop, eslint

Fix bundle audit pre-push failure
  .bundler-audit.yml
  Gemfile.lock
Due: none

Rubocop
  spec/system/tests/test_spec.rb
Due: rubocop

Fix enter press
  app/components/ui/audio_button_component.html.erb
  app/frontend/controllers/audio_player_controller.js
Due: eslint

Add sidekickicons via rails_icons, swap star for pin icon
  Gemfile
  Gemfile.lock
  app/assets/svg/icons/sidekickicons/outline/pin.svg
  app/assets/svg/icons/sidekickicons/solid/pin.svg
  app/components/study_sets/card_component.html.erb
  app/components/study_sets/top_bar_component.html.erb
  app/views/dashboard/_study_sets.html.erb
  config/initializers/rails_icons.rb
  config/routes.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb, but not: (^|/)(application|routes)\.rb$
  eslint: any of: *.js, but not: (^|/)(application)\.js
