Repository somenugget/aprendi: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
assert_lefthook_installed: true
rc: ~/.zshrc
pre-push:
  commands:
    packages-audit:
      files: git ls-files
      tags: frontend security
      run: npm audit fix
    gems-audit:
      files: git ls-files
      tags: backend security
      run: bundle exec bundle-audit check --update
pre-commit:
  parallel: true
  commands:
    rubocop:
      tags: backend style
      glob: "*.rb"
      exclude: '(^|/)(application|routes)\.rb$'
      run: bundle exec rubocop --force-exclusion {staged_files}
    eslint:
      tags: frontend style
      glob: "*.js"
      exclude: '(^|/)(application)\.js'
      run: npm run lintFix {staged_files}

Fix login error
  app/controllers/application_controller.rb
Due: rubocop

Update auth scope
  app/services/users/save_from_omniauth.rb
  config/initializers/devise.rb
Due: rubocop

Sort study sets
  app/controllers/dashboard_controller.rb
Due: rubocop

`belongs_to :study_set, touch: true`
  app/models/term.rb
Due: rubocop

Increase long phrases
  app/models/term.rb
Due: rubocop

Add terms and services
  app/controllers/home_controller.rb
  app/views/blogs/privacy_policy.html.erb
  app/views/blogs/terms_and_conditions.html.erb
  app/views/common/_footer.html.erb
  app/views/landing/_user.html.erb
Due: rubocop

Fix test
  spec/system/dashboard_spec.rb
Due: rubocop

Set date
  app/views/blogs/terms_and_conditions.html.erb
Due: none

Update text
  app/views/blogs/terms_and_conditions.html.erb
Due: none

Domain verification
  Gemfile.lock
  app/views/layouts/blog.html.erb
  app/views/layouts/landing.html.erb
Due: none

Add name to the landing page
  Gemfile.lock
  app/views/landing/_hero.html.erb
  app/views/landing/_slideshow.html.erb
Due: none

disable rule
  .rubocop.yml
Due: none

Fix rule
  .rubocop.yml
Due: none

Test google redirect uri
  config/initializers/devise.rb
Due: rubocop

Login hack
  .rubocop.yml
  app/controllers/application_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/models/user_auth_token.rb
  config/environments/development.rb
  config/initializers/devise.rb
  config/locales/devise.en.yml
  db/migrate/20240303015034_create_user_auth_tokens.rb
  db/schema.rb
  spec/factories/user_auth_tokens.rb
  spec/models/user_auth_token_spec.rb
Due: rubocop

Remove notice
  app/controllers/users/omniauth_callbacks_controller.rb
  config/environments/development.rb
Due: rubocop

Data deletion URL
  app/components/test_steps/examples_component.html.erb
  app/components/ui/alert_component.rb
  app/controllers/account_deletion_requests_controller.rb
  app/controllers/blogs_controller.rb
  app/mailers/account_deletion_mailer.rb
  app/models/account_deletion_request.rb
  app/models/user.rb
  app/models/user_auth_token.rb
  app/services/users/delete_account_by_token.rb
  app/views/account_deletion_mailer/confirmation.html.erb
  app/views/account_deletion_requests/confirm.html.erb
  app/views/account_deletion_requests/create.html.erb
  app/views/account_deletion_requests/index.html.erb
  app/views/layouts/blog.html.erb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20240306233732_create_account_deletion_requests.rb
  db/migrate/20240307001632_add_meta_to_user_auth_token.rb
  db/migrate/20240307145113_remove_null_constraint_on_user_auth_token_user_id.rb
  db/schema.rb
  spec/factories/account_deletion_requests.rb
  spec/models/account_deletion_request_spec.rb
  spec/requests/account_deletion_requests_spec.rb
Due: rubocop

Remove `has_many :own_terms`
  app/models/folder.rb
Due: rubocop

Allow to generate more examples
  Gemfile.lock
  app/services/generate_term_examples.rb
Due: rubocop

AI study sets generation
  Gemfile
  Gemfile.lock
  app/controllers/study_sets_controller.rb
  app/frontend/controllers/autogrow_controller.js
  app/services/generate_study_set_terms.rb
  app/services/generate_term_examples.rb
  app/views/study_sets/_form.html.erb
  app/views/study_sets/new.html.erb
  package-lock.json
Due: rubocop, eslint

Fix linter
  app/queries/less_learnt_terms_query.rb
Due: rubocop

Learn study set's first five words
  app/components/json_imports/form_component.html.erb
  app/components/json_imports/form_component.rb
  app/components/json_imports/hint_component.html.erb
  app/components/json_imports/hint_component.rb
  app/components/study_sets/top_bar_component.html.erb
  app/components/study_sets/top_bar_component.rb
  app/components/ui/form/select_component.html.erb
  app/controllers/json_imports_controller.rb
  app/views/json_imports/show.html.erb
  app/views/study_sets/_form.html.erb
  config/locales/en.yml
  config/routes.rb
  package-lock.json
Due: rubocop

Update gems
  Gemfile
  Gemfile.lock
Due: none

Add rubocop-factory_bot
  Gemfile
  Gemfile.lock
  package-lock.json
  package.json
Due: none

Update name in package-lock.json
  package-lock.json
Due: none

Rubocop update
  Gemfile
  Gemfile.lock
  app/controllers/account_deletion_requests_controller.rb
  app/models/account_deletion_request.rb
  app/models/test.rb
  app/models/test_step.rb
  app/services/parse_imported_terms.rb
Due: rubocop

Fix test
  spec/system/tests/test_spec.rb
Due: rubocop

Upgrade good_jobs
  Gemfile
  Gemfile.lock
  db/migrate/20241102073456_create_index_good_job_jobs_for_candidate_lookup.rb
  db/migrate/20241102073457_create_good_job_execution_error_backtrace.rb
  db/migrate/20241102073458_create_good_job_process_lock_ids.rb
  db/migrate/20241102073459_create_good_job_process_lock_indexes.rb
  db/migrate/20241102073460_create_good_job_execution_duration.rb
  db/schema.rb
  package-lock.json
Due: rubocop

Update plugin
  package-lock.json
  package.json
Due: none

Add streak tracking
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/dashboard_controller.rb
  app/controllers/test_steps_controller.rb
  app/models/streak.rb
  app/models/streak_log.rb
  app/models/user.rb
  app/services/users/update_streak.rb
  app/views/application/_navbar.html.erb
  app/views/dashboard/_words.html.erb
  app/views/landing/_hero.html.erb
  app/views/tests/result.html.erb
  db/migrate/20250301201817_create_streaks.rb
  db/migrate/20250301201832_create_streak_logs.rb
  db/schema.rb
  package-lock.json
  package.json
  spec/factories/streak_logs.rb
  spec/factories/streaks.rb
  spec/models/streak_log_spec.rb
  spec/models/streak_spec.rb
Due: rubocop

Update vite
  package-lock.json
  package.json
Due: none

Update actions/upload-artifact
  .github/workflows/ci.yml
Due: none

Show streak on mobile
  Gemfile.lock
  app/components/streak_component.html.erb
  app/components/streak_component.rb
  app/views/application/_navbar.html.erb
Due: rubocop

Update dependencies
  .ruby-version
  .tool-versions
  Gemfile
  Gemfile.lock
  package-lock.json
  package.json
Due: none

Update lock
  package-lock.json
Due: none

Fix package
  package-lock.json
  package.json
Due: none

Update @tailwindcss/postcss
  package-lock.json
  package.json
  postcss.config.js
Due: eslint

Temp
  app/frontend/entrypoints/tailwind.css
  package-lock.json
  package.json
  postcss.config.js
  vite.config.mjs
Due: eslint
